<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>云中校车</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon</string>
				<string>icon@120</string>
				<string>icon.png</string>
				<string>icon@2x.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.mactop.mobi.etonkids</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>云中校车</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx2376a8ec446b2086</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yunxiaocheparent</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.3.0</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ToolkitConfig</key>
	<dict>
		<key>CloudReadyACS</key>
		<dict>
			<key>ACSNamespace</key>
			<string>{the namespace of the ACS service you are using}</string>
			<key>ACSRealm</key>
			<string>uri:wazmobiletoolkit</string>
			<key>ProxyService</key>
			<string>{the service name where the ACS Cloud Ready package is deployed}</string>
		</dict>
		<key>CloudReadySimple</key>
		<dict>
			<key>ProxyService</key>
			<string>{the service name where the Membership Cloud Ready package is deployed}</string>
		</dict>
		<key>ConnectionType</key>
		<string>Direct</string>
		<key>Direct</key>
		<dict>
			<key>AccountName</key>
			<string>mactoptest</string>
			<key>DirectAccessKey</key>
			<string>LYaxbkZM+3C2SLHsh1Rdk+z0R20rd2NNUVGsnxyI4ZmLFhvzQICuiBQ7JkJbFOyuieM9TjIDpTDaQoD821XPZg==</string>
		</dict>
	</dict>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
